@import "normalize";
@import "config";

// Les basiques
html,
body,
*{
  box-sizing: border-box;
  color: $colorFont;
}

html,
body{
  height: 100%;
  position: relative;
}


// Code blocks style
code{

  display: inline-block;
  padding: .5em;
  border-left: 5px solid $colorCodeGeneral;
  color: $colorCodeFont;
  background-color: $colorCodeBg;
}

pre{
  code{
    display: block;
    padding-left: 1em;

    &:before{
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      text-transform: uppercase;
      color: darken( $colorCodeBg, 12% );
    }

    &.html{
      border-left-color: $colorCodeHtml;

      &:before{
        content: 'html';
      }
    }
    &.css{
      border-left-color: $colorCodeCss;

      &:before{
        content: 'css';
      }
    }
    &.javascript{
      border-left-color: $colorCodeJavascript;

      &:before{
        content: 'javascript';
      }
    }
    &.php{
      border-left-color: $colorCodePhp;

      &:before{
        content: 'php';
      }
    }

  }
}

// Tableaux
table{
}
tr{

  &:nth-child(odd){
    background-color: #f0f0f0;
  }
}
thead{
  tr{
    background-color: transparent !important;
  }
}


// Les listes
ol{
  list-style: upper-roman;

  ol{
    list-style: decimal;

    ol{
      list-style: lower-latin;
    }
  }
}

// Divers
blockquote{
  padding: 5px 5px 5px 10px;
  border-left: 5px solid #ccc;
  box-shadow: 2px 2px 5px #ccc;

  *{
    font-style: italic;
    color: #bebebe;
    text-shadow: 1px 1px #eee;
  }
}


// Les modules
// -*- Messages d'info
.info__err{
  @include info_discrete;
}


// La grille
#main-wrapper{
  min-height: 100%;
  overflow: auto;

  @include clearfix;
}
#markdocs-nav{
  height: 100%;
  box-shadow: 0 0 12px #333;
}
#markdocs-nav,
#markdocs-render{
  padding: 1em;
}
#markdocs-render{
  padding-left: $widthSidebar + 20;
}
#markdocs-nav {
  width: $widthSidebar;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: #ecf0f1;

  ul{
    list-style: none;
    padding: 0;
  }

  li{
    margin-bottom: .5em;
  }

  a{
    text-decoration: none;
    
    &:hover{
      color: #ccc;
    }
  }

  .title_nav{
    padding: 0;
    margin-bottom: 5px;

    @for $i from 1 through 6{
      &.title_H#{$i}{
        padding-left: #{$i}0px;
      }
    }
  }
}